# Environment Variables (Secrets)
.env
**/.env
env/
venv/
.venv/

# Python
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# Bot State & Logs
bot_state.json
**/bot_state.json
logs/
*.log
trade_journal.csv
